<template name='projects'>
    <div class="button-band">
        <button type="button" class="btn btn-primary btn-sm add-new-item openInModal" data-toggle="modal" data-target="#inModal">Create</button>
        {{> inModal}}
    </div>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Code</th>
                <th>Owner</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each item in loadCollection}}
            <tr id="{{item._id}}">
                <td><a href="{{rootPath}}{{item._id}}">{{item.project}}</a></td>
                <td>{{item.projectId}}</td>
                <td>{{item.projectCode}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-sm mod-item openInModal" data-toggle="modal" data-target="#inModal" id="{{item._id}}">Edit</button>
                    <a class="btn btn-primary btn-sm" href="{{rootPath}}{{item._id}}" role="button" id="{{item._id}}">Details</a>
                    <a href="#" class="btn btn-danger btn-sm btn-remove" id={{item._id}}><span class="glyphicon glyphicon-remove"></span>Del</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>


<template name="updateProject">
    {{#autoForm collection=getMongoObject doc=selectedDocument id='updateProject' type='update'}}
    <div class="row">
        <div class="col">
            {{> afQuickField name='project' autofocus=''}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='projectId'}}
        </div>
        <div class="col">
            {{> afQuickField name='projectCode'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='startDate'}}
        </div>
        <div class="col">
            {{> afQuickField name='endDate'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='tags'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='description'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='comment' rows=4}}
        </div>
    </div>
    <div class="modal-footer modal-footer-adapter">
        <button type="reset" class="btn btn-secondary close-modal" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
    {{/autoForm}}
</template>


<template name="detailsProject">
    {{#with selectedDocument}}
    <div class="card">
        <div class="card-header">
            <h5>{{modalLabel}}</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Project: {{project}}</h5>
                </div>
                <div class="col">
                    <h5>Project: {{projectId}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Code: {{projectCode}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Start date: {{startDate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Target end: {{endDate}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="card-title">Tags: {{tags}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>Description: </h5>
                    <div class="comment-feild">
                        <pre class="pre-comment" style="font-size: 1rem;">{{description}}</pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Comment: </h5>
                    <div class="comment-feild">
                        <pre style="font-size: 1rem;" class="pre-comment">{{comment}}</pre>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm mod-project-modal openInModal" data-toggle="modal" data-target="#inModal" id="{{_id}}">Edit Env</button>
            {{> inModal}}
        </div>
    </div>
    {{/with}}
    {{inModal}}
</template>



<template name='insertProject'>
    {{#autoForm collection=getMongoObject id="insertProject" type="insert"}}
    <div class="row">
        <div class="col">
            {{> afQuickField name='project' autofocus=''}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='projectId'}}
        </div>
        <div class="col">
            {{> afQuickField name='projectCode'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='startDate'}}
        </div>
        <div class="col">
            {{> afQuickField name='endDate'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='tags'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='description'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='comment' rows=4}}
        </div>
    </div>
    <div class="modal-footer" style="padding: 1rem 0rem 0rem 0rem;">
        <button type="reset" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Create</button>
    </div>
    {{/autoForm}}
</template>

