<template name='Projects'>
    <div class="button-band">
        <button type="button" class="btn btn-primary btn-sm project-modal openInModal" data-toggle="modal" data-target="#inModal"> Create new</button>
        {{> inModal label="@create project" class="btn-primary btn-sm project-modal"}}
        {{> inModal label="@create project" isLink="true" class="alert-link project-modal"}}
    </div>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Code</th>
                <th>Owner</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each item in projectCollection}}
            <tr id="{{item._id}}">
                <td><a href="/project/details/{{item._id}}">{{item.project}}</a></td>
                <td>{{item.projectId}}</td>
                <td>{{item.projectCode}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-sm mod-project-modal openInModal" data-toggle="modal" data-target="#inModal" id="{{item._id}}">Edit Project</button>
                    <a class="btn btn-primary btn-sm" href="/project/detail/{{item._id}}" role="button" id="{{item._id}}">details</a>
                    <a href="#" class="btn btn-danger btn-sm btn-remove" id={{item._id}}><span class="glyphicon glyphicon-remove"></span>Del</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>


<template name="updateProject">
    {{#autoForm collection=projectCollection doc=selectedDocument id='updateProject' type='update'}}
    <div class="row">
        <div class="col">
            {{> afQuickField name='project' autofocus=''}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='projectId'}}
        </div>
        <div class="col">
            {{> afQuickField name='projectCode'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='info.startDate'}}
        </div>
        <div class="col">
            {{> afQuickField name='info.endDate'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='tags'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='description'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='comment' rows=4}}
        </div>
    </div>
    <div class="modal-footer" style="padding: 1rem 0rem 0rem 0rem;">
        <button type="reset" class="btn btn-secondary close-modal" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
    {{/autoForm}}
</template>


<template name="detailsProject">
    {{#with selectedDocument}}
    <div class="card">
        <div class="card-header">
            <h5>Project</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Project: {{project}}</h5>
                </div>
                <div class="col">
                    <h5>Project: {{projectId}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Code: {{projectCode}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Start date: {{info.startDate}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Target end: {{info.endDate}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="card-title">Tags: {{tags}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>Description: </h5>
                    <div class="comment-feild">
                        <pre class="pre-comment" style="font-size: 1rem;">{{description}}</pre>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Comment: </h5>
                    <div class="comment-feild">
                        <pre style="font-size: 1rem;" class="pre-comment">{{comment}}</pre>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm mod-project-modal openInModal" data-toggle="modal" data-target="#inModal" id="{{_id}}">Edit Env</button>
            {{> inModal}}
        </div>
    </div>
    {{/with}}
    {{inModal}}
</template>



<!-- template name='projects'>
    <div class="button-band">
    {{> inModal label="@create project" class="btn-primary btn-sm project-modal"}}
    {{> inModal label="@create project" isLink="true" class="alert-link project-modal"}}
    </div>
    <button type="button" class="btn btn-primary btn-sm project-modal openInModal" data-toggle="modal" data-target="#inModal" data-whatever="@mdo">main open</button>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Project</th>
                <th>ID</th>
                <th>Code</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each item in projectCollection}}
            <tr id="{{item._id}}">
                <td><a href="/projects/{{item._id}}">{{item.project}}</a></td>
                <td>{{item.projectId}}</td>
                <td>{{item.projectCode}}</td>
                <td class="text-center">
                    <a class='btn btn-info btn-sm' href="#">
                    <span class="glyphicon glyphicon-edit"></span> Edit</a> 
                    <a href="#" class="btn btn-danger btn-sm btn-remove" id={{item._id}}><span class="glyphicon glyphicon-remove"></span> Del</a>
                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#prj{{item._id}}" role="button" aria-expanded="false" aria-controls="{{item._id}}">
                        details</a>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="collapse" id="prj{{item._id}}">
                    <div>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template -->

<template name='insertProject'>
    {{#autoForm collection=projectCollection id="insertProject" type="insert"}}
    <div class="row">
        <div class="col">
            {{> afQuickField name='project' autofocus=''}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='projectId'}}
        </div>
        <div class="col">
            {{> afQuickField name='projectCode'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='info.startDate'}}
        </div>
        <div class="col">
            {{> afQuickField name='info.endDate'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='tags'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='description'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{> afQuickField name='comment' rows=4}}
        </div>
    </div>
    <div class="modal-footer" style="padding: 1rem 0rem 0rem 0rem;">
        <button type="reset" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Create</button>
    </div>
    {{/autoForm}}
</template>

